<form action=”/” method=”post”>
	<label for=”birthdate”>Enter your birthdate (mmddyyyy)</label>
		<input class="form-control" name="birthdate" type="date"/>
		<input type="submit" value="Submit!"/>
</form>